@CHARSET "ISO-8859-1";

.menu {
	float: left;
	width: 10%;
}

.conteudo {
	margin-left: 90%;
}

.centralizado {
	background-color: #e1e1e1;
	width: 600px;
	height: 50px;
	left: 40%;
	margin: -130px 0 0 -210px;
	padding: 10px;
	position: absolute;
	top: 40%;
}